@import url('https://fonts.cdnfonts.com/css/tenorite');

body {	
	font-family: 'Tenorite', sans-serif !important;	
}

tr:first-child {
	
	font-weight: bold;
	color: white;	
	background: #0085C6 !important;	
}


.imageinfo.overview {
	/*align: right;
	z-index: 99;
	cusor: zoom-in;
	transform: scale(2);*/
}



tr:nth-child(even) {	
	background: #eee;
	}
tr:nth-child(odd) {
	background: #fff;
	}



img {
	
	max-width: 100%;
	object-fit: contain;
	height: auto;
}
